/* .index {
  display: flex;
  justify-content: center;
} */

.top-section {
  width: 100%;
  max-height: 50%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.profile-pic {
  float: left;
  max-width: 30%;
  height: auto;
}

.list {
  font-size: small;
  float: left;
  width: 70%;
  padding: 15px;
  margin: auto;
  margin-left: 10px;
  border: black solid 2px;
  border-bottom: 1px;
  box-sizing: border-box;
}

.list li {
  color: green;
}

.about-me {
  margin: auto;
  padding: 10px;
  border: black solid 2px;
  box-sizing: border-box;
  border-bottom: 1px;
}

.hobbies {
  margin: auto;
  padding: 10px;
  border: black solid 2px;
  box-sizing: border-box;
}

.span {
  font-weight: bold
}