.index {
  display: flex;
  justify-content: center;
}

.top-section {
  display: flex;
  justify-content: center;
}

.profile-pic {
  float: left;
  width: 50%;
  height: auto;
}

.list {
  float: right;
  width: 50%;
  margin: auto;
  margin-left: 10px;
  border: black solid 2px;
  box-sizing: border-box;
}

.list li {
  color: green;
}

.about-me {
  margin: auto;
  padding: 10px;
  border: black solid 2px;
  box-sizing: border-box;
}

.hobbies {
  margin: auto;
  padding: 10px;
  border: black solid 2px;
  box-sizing: border-box;
}

.span {
  font-weight: bold
}